<body class="bg-slate-100 text-slate-800 antialiased">
  <div class="flex min-h-screen">
    <!-- MENU LATERAL -->
    <aside class="w-72 bg-[#1e293b] text-white shadow-2xl flex flex-col">
      <!-- LOGO -->
      <div class="p-6 border-b border-slate-700">
        <h1 class="text-2xl font-bold tracking-wide flex items-center gap-3">📚 Biblioteca</h1>

        <p class="text-slate-400 text-sm mt-2">Painel Administrativo</p>
      </div>

      <!-- MENU -->
      <nav class="flex-1 p-4 flex flex-col gap-2">
        <a
          href="../index.html"
          class="hover:bg-[#334155] transition-all duration-200 rounded-xl px-4 py-3 flex items-center gap-3 text-slate-200"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-house-gear-fill"
            viewBox="0 0 16 16"
          >
            <path
              d="M7.293 1.5a1 1 0 0 1 1.414 0L11 3.793V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v3.293l2.354 2.353a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708z"
            />
            <path
              d="M11.07 9.047a1.5 1.5 0 0 0-1.742.26l-.02.021a1.5 1.5 0 0 0-.261 1.742 1.5 1.5 0 0 0 0 2.86 1.5 1.5 0 0 0-.12 1.07H3.5A1.5 1.5 0 0 1 2 13.5V9.293l6-6 4.724 4.724a1.5 1.5 0 0 0-1.654 1.03"
            />
            <path
              d="m13.158 9.608-.043-.148c-.181-.613-1.049-.613-1.23 0l-.043.148a.64.64 0 0 1-.921.382l-.136-.074c-.561-.306-1.175.308-.87.869l.075.136a.64.64 0 0 1-.382.92l-.148.045c-.613.18-.613 1.048 0 1.229l.148.043a.64.64 0 0 1 .382.921l-.074.136c-.306.561.308 1.175.869.87l.136-.075a.64.64 0 0 1 .92.382l.045.149c.18.612 1.048.612 1.229 0l.043-.15a.64.64 0 0 1 .921-.38l.136.074c.561.305 1.175-.309.87-.87l-.075-.136a.64.64 0 0 1 .382-.92l.149-.044c.612-.181.612-1.049 0-1.23l-.15-.043a.64.64 0 0 1-.38-.921l.074-.136c.305-.561-.309-1.175-.87-.87l-.136.075a.64.64 0 0 1-.92-.382ZM12.5 14a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3"
            />
          </svg>
          Dashboard
        </a>

        <a
          href="./aluno.html"
          class="hover:bg-[#334155] transition-all duration-200 rounded-xl px-4 py-3 flex items-center gap-3 text-slate-200"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-person"
            viewBox="0 0 16 16"
          >
            <path
              d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6m2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0m4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4m-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10s-3.516.68-4.168 1.332c-.678.678-.83 1.418-.832 1.664z"
            />
          </svg>
          Alunos
        </a>

        <a
          href="./area_conhecimento.html"
          class="bg-[#334155] hover:bg-[#475569] transition-all duration-200 rounded-xl px-4 py-3 flex items-center gap-3 font-medium shadow"
        >
          🧠 Áreas de Conhecimento
        </a>

        <a
          href="./editora.html"
          class="hover:bg-[#334155] transition-all duration-200 rounded-xl px-4 py-3 flex items-center gap-3 text-slate-200"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-building-fill-add"
            viewBox="0 0 16 16"
          >
            <path
              d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7m.5-5v1h1a.5.5 0 0 1 0 1h-1v1a.5.5 0 0 1-1 0v-1h-1a.5.5 0 0 1 0-1h1v-1a.5.5 0 0 1 1 0"
            />
            <path
              d="M2 1a1 1 0 0 1 1-1h10a1 1 0 0 1 1 1v7.256A4.5 4.5 0 0 0 12.5 8a4.5 4.5 0 0 0-3.59 1.787A.5.5 0 0 0 9 9.5v-1a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .39-.187A4.5 4.5 0 0 0 8.027 12H6.5a.5.5 0 0 0-.5.5V16H3a1 1 0 0 1-1-1zm2 1.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5m3 0v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5m3.5-.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zM4 5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5M7.5 5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zm2.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5M4.5 8a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5z"
            />
          </svg>
          Editoras
        </a>

        <a
          href="./livro.html"
          class="hover:bg-[#334155] transition-all duration-200 rounded-xl px-4 py-3 flex items-center gap-3 text-slate-200"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-book-fill"
            viewBox="0 0 16 16"
          >
            <path
              d="M8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783"
            />
          </svg>
          Livros
        </a>
        <a
          href="./historico.html"
          class="hover:bg-[#334155] transition-all rounded-xl px-4 py-3 flex items-center gap-3 text-slate-200"
          ><svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-file-earmark-text-fill"
            viewBox="0 0 16 16"
          >
            <path
              d="M9.293 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0M9.5 3.5v-2l3 3h-2a1 1 0 0 1-1-1M4.5 9a.5.5 0 0 1 0-1h7a.5.5 0 0 1 0 1zM4 10.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5m.5 2.5a.5.5 0 0 1 0-1h4a.5.5 0 0 1 0 1z"
            />
          </svg>
          Histórico / Multas</a
        >
      </nav>

      <!-- FOOTER -->
      <div class="p-5 border-t border-slate-700">
        <div class="bg-[#334155] rounded-xl p-4">
          <p class="text-sm text-slate-300">Sistema conectado ao</p>

          <p class="text-emerald-400 font-bold mt-1">SQL Server Online</p>
        </div>
      </div>
    </aside>

    <!-- CONTEÚDO -->
    <main class="flex-1 p-8">
      <!-- HEADER -->
      <header class="mb-8">
        <h2 class="text-4xl font-bold text-slate-800">Áreas de Conhecimento</h2>

        <p class="text-slate-500 mt-2">Gerencie categorias e áreas de livros da biblioteca.</p>
      </header>

      <!-- CARD -->
      <section class="bg-white rounded-2xl shadow-sm border border-slate-200 p-8 max-w-4xl">
        <!-- TOPO -->
        <div class="flex items-center gap-4 mb-8">
          <div class="bg-purple-100 text-purple-600 p-4 rounded-2xl text-3xl">🧠</div>

          <div>
            <h2 class="text-2xl font-bold text-slate-700">Nova Área</h2>

            <p class="text-slate-400 text-sm mt-1">
              Cadastre novas categorias de livros para organização da biblioteca.
            </p>
          </div>
        </div>

        <!-- FORM -->
        <div class="flex flex-col lg:flex-row gap-4">
          <div class="flex-1">
            <label class="block text-sm font-semibold text-slate-600 mb-2"> Nome da Área </label>

            <input
              type="text"
              id="nomeArea"
              placeholder="Ex: Exatas, Filosofia, Biológicas..."
              class="w-full border border-slate-200 rounded-xl px-4 py-4 outline-none focus:ring-2 focus:ring-[#243e58] transition"
            />
          </div>
        </div>

        <!-- BOTÕES -->
        <div class="flex flex-col md:flex-row gap-4 mt-8">
          <button
            type="button"
            onclick="salvarArea()"
            class="flex-1 bg-[#243e58] hover:bg-[#334155] text-white font-semibold py-4 rounded-xl transition-all duration-200 shadow-md hover:shadow-lg"
          >
            💾 Salvar Área
          </button>

          <button
            type="button"
            onclick="document.getElementById('nomeArea').value = ''"
            class="bg-slate-200 hover:bg-slate-300 text-slate-700 font-semibold px-6 py-4 rounded-xl transition-all"
          >
            Limpar
          </button>
        </div>

        <!-- FEEDBACK -->
        <div
          id="feedback-mensagem"
          class="mt-6 text-sm font-medium min-h-[20px] transition-all duration-200"
        ></div>
      </section>

      <!-- CARD EXTRA -->
      <section class="bg-white rounded-2xl shadow-sm border border-slate-200 p-6 max-w-4xl mt-6">
        <div class="flex items-center justify-between flex-wrap gap-4">
          <div>
            <h3 class="text-lg font-bold text-slate-700">📚 Organização Inteligente</h3>

            <p class="text-slate-400 text-sm mt-1">
              Categorize os livros corretamente para melhorar pesquisas e filtros.
            </p>
          </div>

          <div class="bg-slate-100 px-5 py-3 rounded-xl text-slate-600 font-medium">
            Sistema Ativo ✅
          </div>
        </div>
      </section>
    </main>
  </div>
</body>
